* {
    font-family: "monospace";
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}

window#waybar {
    transition-property: background-color;
    transition-duration: 0.5s;
    background: transparent;
    /*border: 2px solid @overlay0;*/
    /*background: @base;*/
    border-radius: 10px;
}

window#waybar.hidden {
    opacity: 0.2;
}

tooltip {
    background: #1e1e2e;
    border-radius: 8px;
}

tooltip label {
    color: #cad3f5;
    margin-right: 5px;
    margin-left: 5px;
}

/* This section can be use if you want to separate waybar modules */
.modules-left {
    background: @base;
    border: 1px solid @blue;
    padding-right: 15px;
    padding-left: 2px;
    border-radius: 10px;
}
.modules-center {
    background: @base;
    border: 0.5px solid @overlay0;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 10px;
}
.modules-right {
    background: @base;
    border: 1px solid @blue;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 10px;
}

#backlight,
#backlight-slider,
#battery,
#bluetooth,
#clock,
#cpu,
#disk,
#idle_inhibitor,
#keyboard-state,
#memory,
#mode,
#mpris,
#network,
#pulseaudio,
#pulseaudio-slider,
#taskbar button,
#taskbar,
/*#temperature,*/
#tray,
#window,
#wireplumber,
#workspaces,
#custom-backlight,
#custom-cycle_wall,
#custom-gpuinfo,
#custom-keybinds,
#custom-keyboard,
/*#custom-light_dark,
#custom-lock,
#custom-menu,
#custom-power_vertical,
#custom-power,
#custom-swaync,
#custom-updater,*/
#custom-weather,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.default,
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.severe,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.sunnyDay {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 5px;
    padding-left: 5px;
}

#idle_inhibitor {
    color: @base;
}

#bluetooth,
#backlight {
    color: @network;
}

#battery {
    color: @battery;
}

@keyframes blink {
    to {
        color: @surface0;
    }
}

#battery.critical:not(.charging) {
    background-color: @battery_critical;
    color: @text;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    box-shadow: inset 0 -3px transparent;
}

#custom-notification {
    color: #dfdfdf;
    padding: 0px 5px;
    border-radius: 5px;
}

#language {
    color: @text;
}

#clock {
    color: @clock;
}

/*#custom-icon {
    font-size: 13px;
    color: @pink;
}*/

#custom-gpuinfo {
    color: @temp;
}

#cpu {
    color: @cpu;
}

#custom-keyboard,
#memory {
    color: @ram;
}

#disk {
    color: @disk;
}

/*#temperature {
    color: @teal;
}

#temperature.critical {
    background-color: @red;
}*/

#tray > .passive {
    -gtk-icon-effect: dim;
}
#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

/*#keyboard-state {
    color: @flamingo;
}*/

#workspaces button {
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 9px;
    padding-left: 4px;
    padding-right: 4px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button:hover {
    border-radius: 10px;
    color: @overlay0;
    background-color: @surface0;
    padding-left: 2px;
    padding-right: 2px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button.persistent {
    color: @surface1;
    border-radius: 10px;
}

#workspaces button.active {
    color: @workspace;
    border-radius: 10px;
    padding-left: 8px;
    padding-right: 8px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button.urgent {
    color: @alert;
    border-radius: 0px;
}

#taskbar button.active {
    padding-left: 8px;
    padding-right: 8px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#taskbar button:hover {
    padding-left: 2px;
    padding-right: 2px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#custom-cava_mviz {
    color: @cava;
}

#cava {
    color: @cava;
}

/*#mpris {
    color: @pink;
}*/

/*#custom-menu {
    color: @rosewater;
}*/

/*#custom-power {
    color: @red;
}*/

/*#custom-updater {
    color: @red;
}*/

/*#custom-light_dark {
    color: @blue;
}

#custom-weather {
    color: @lavender;
}*/

/*#custom-lock {
    color: @maroon;
}*/

#pulseaudio {
    color: @audio;
}

#pulseaudio.bluetooth {
    color: @audio;
}
#pulseaudio.muted {
    color: @alert;
}

#window {
    color: @workspace;
}

/*#custom-waybar-mpris {
    color: @lavender;
}*/

#network {
    color: @network;
}
#network.disconnected,
#network.disabled {
    background-color: @surface0;
    color: @text;
}
#pulseaudio-slider slider {
    min-width: 0px;
    min-height: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}

#pulseaudio-slider trough {
    min-width: 80px;
    min-height: 5px;
    border-radius: 5px;
}

#pulseaudio-slider highlight {
    min-height: 10px;
    border-radius: 5px;
}

#backlight-slider slider {
    min-width: 0px;
    min-height: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}

#backlight-slider trough {
    min-width: 80px;
    min-height: 10px;
    border-radius: 5px;
}

#backlight-slider highlight {
    min-width: 10px;
    border-radius: 5px;
}
